@{
    ViewBag.Title = "Home";
}

<!-- slider_area_start -->
<div class="slider_area">
    <div class="single_slider  d-flex align-items-center slider_bg_1">
        <div class="container">
            <div class="row align-items-center position-relative">
                <div class="col-lg-9">
                    <div class="slider_text">
                        <h3>
                            Hi there, I am Scott Cashion
                            <br />
                            <div id="data-typed-strings">
                                <span>Full Stack Developer</span>
                                <span>Web Designer</span>
                                <span>Fantasy Football Enthusiast</span>
                            </div>
                            <span class="typed"></span>
                        </h3>
                        <a class="boxed-btn3-line" href="@Url.Action("Portfolio", "Home")">View Works</a>

                    </div>
                </div>
                <!--<div class="my_img d-none d-lg-block">
                    <img src="img/profilepicnobackground.png" alt="">
                </div>-->
            </div>
        </div>
    </div>
</div>
<!-- slider_area_end -->

<section class="download_area">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="section_title mb-50">
                    <h3>About Me</h3>
                </div>
            </div>
            <div class="col-xl-10">
                <div class="download_text">
                    <h3 style="color: #DB9A64;">I’m a Full Stack Developer based in St. Louis, Mo. I enjoy using my obsessive attention to detail, my love for making things, and my tireless work ethic to craft innovative applications</h3>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-md-6">
                <div class="download_left">
                    <p>
                        I have a Bachelors of Science in Software Engineering that I received in 2015. I am going through the Full Stack Web Developer Program from Centriq Training currently with an anticipated graduation in March of 2022.
                    </p>
                    <p>
                        For the past 15 years, I have worked for two golf courses. During this time, I had many job titles: irrigation tech, mechanic, and assistant superintendent. I have honed many skills over these years including leadership, communication, adaptability, teamwork, troubleshooting, problem solving, and critical thinking.
                    </p>
                    <a href="~/Content/Scott-Cashion-Resume.pdf" download="ScottCashionResume" class="boxed-btn3-line">Download Resume</a>
                </div>
            </div>
            <div class="col-lg-5 offset-lg-1 col-md-6">
                <div class="progress_skills">
                    <div class="single_progress">
                        <div class="label d-flex justify-content-between">
                            <span>C#</span>
                            <span>80%</span>
                        </div>
                        <div class="progress">
                            <div class="progress-bar " role="progressbar" style="width: 80%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
                    <div class="single_progress">
                        <div class="label d-flex justify-content-between">
                            <span>CSS</span>
                            <span>70%</span>
                        </div>
                        <div class="progress">
                            <div class="progress-bar " role="progressbar" style="width: 70%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
                    <div class="single_progress">
                        <div class="label d-flex justify-content-between">
                            <span>SQL</span>
                            <span>75%</span>
                        </div>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: 75%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- portfolio_carousel  -->
<div class="testimonial_area ">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="section_title">
                    <h3>Portfolio Projects</h3>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-12">
                <div class="testmonial_active owl-carousel">
                    <div class="single_carousel">
                        <section class="portfolio_carousel">
                            <div class="row text-center">
                                <div class="col-xl-9 col-md-9 text-center">
                                    <div class="single_testmonial">
                                        <a href="http://f1sp.scott-cashion.com/" target="_blank">
                                            <img src="~/Content/img/portfolio/StaticSite.jpg" alt="">
                                            <h3>Static Web Site</h3>
                                            <h4>Everyone has to start somewhere. Created a website from scratch using only HTML and CSS. Website is built to for a small business that provides instructional courses.</h4>
                                        </a>
                                        <a href="http://f1sp.scott-cashion.com/" target="_blank">
                                            <i class="fa fa-link"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                    <div class="single_carousel">
                        <section class="portfolio_carousel">
                            <div class="row text-center">
                                <div class="col-xl-9 col-md-9">
                                    <div class="single_testmonial">
                                        <a href="http://bethboergercsd1.com/" target="_blank">
                                            <img src="~/Content/img/portfolio/Capstone.jpg" alt="">
                                            <h3>Capstone Project</h3>
                                            <h4>Utilized pair programming groups to create a functional website for Beth Boerger for CSD1 school board. Implemented a Trello Board for task tracking; performed daily stand-ups to discuss progress and planning</h4>
                                        </a>
                                        <a href="http://bethboergercsd1.com/" target="_blank">
                                            <i class="fa fa-link"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                    <div class="single_carousel">
                        <section class="portfolio_carousel">
                            <div class="row text-center">
                                <div class="col-xl-9 col-md-9">
                                    <div class="single_testmonial">
                                        <a href="http://sat.scott-cashion.com/" target="_blank">
                                            <img src="~/Content/img/portfolio/SAT.jpg" alt="">
                                            <h3>SAT Scheduling Application</h3>
                                            <h4>Application is built to simulate an online class scheduling system.  Administrators will have the ability to manage students, courses, scheduled classes, and enrollments.</h4>
                                        </a>
                                        <a href="http://sat.scott-cashion.com/" target="_blank">
                                            <i class="fa fa-link"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                    <div class="single_carousel">
                        <section class="portfolio_carousel">
                            <div class="row text-center">
                                <div class="col-xl-9 col-md-9">
                                    <div class="single_testmonial">
                                        <a href="https://github.com/scash58/DungeonApplication" target="_blank">
                                            <img src="~/Content/img/portfolio/DungeonApp.jpg" alt="">
                                            <h3>Dungeon Application</h3>
                                            <h4>Created a dungeon application using C#. Create methods to house the functionality for battle sequence, menu of options to choose from, generates a new setting for the player. </h4>
                                        </a>
                                        <a href="https://github.com/scash58/DungeonApplication" target="_blank">
                                            <i class="fa fa-link"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                    <div class="single_carousel">
                        <section class="portfolio_carousel">
                            <div class="row text-center">
                                <div class="col-xl-9 col-md-9">
                                    <div class="single_testmonial">
                                        <a href="http://storefront.scott-cashion.com/" target="_blank">
                                            <img src="~/Content/img/portfolio/Storefront.jpg" alt="">
                                            <h3>Storefront Web Application</h3>
                                            <h4>The StoreFront Application is a fullstack web applications. Made to look like a mock e-commerce site. I designed a database for the application, and build all the functionality for a e-commerce site. </h4>
                                        </a>
                                        <a href="http://storefront.scott-cashion.com/" target="_blank">
                                            <i class="fa fa-link"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                    <div class="single_carousel">
                        <section class="portfolio_carousel">
                            <div class="row text-center">
                                <div class="col-xl-9 col-md-9">
                                    <div class="single_testmonial">
                                        <a href="http://todoapi.scott-cashion.com/" target="_blank">
                                            <img src="~/Content/img/portfolio/TodoAPI.jpg" alt="">
                                            <h3>Todo API</h3>
                                            <h4>Created a RESTful API that can be consumed by another application. The topic of this API is to provide the backend for the React To Do application. Provides full CRUD functionality for the To Do items</h4>
                                        </a>
                                        <a href="http://todoapi.scott-cashion.com/" target="_blank">
                                            <i class="fa fa-link"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                    <div class="single_carousel">
                        <section class="portfolio_carousel">
                            <div class="row text-center">
                                <div class="col-xl-9 col-md-9">
                                    <div class="single_testmonial">
                                        <a href="http://todo.scott-cashion.com/" target="_blank">
                                            <img src="~/Content/img/portfolio/ReactTodo.jpg" alt="">
                                            <h3>React Todo</h3>
                                            <h4>The React To Do application is built using React JS. Allows user to add, edit, delete, or mark to do items as completed. Uses the .Net Web Api as the backend of the application.</h4>
                                        </a>
                                        <a href="http://todo.scott-cashion.com/" target="_blank">
                                            <i class="fa fa-link"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /protfolio_carousel  -->
<!-- service_area start  -->
<div class="service_area">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="section_title mb-50">
                    <h3>My Skills</h3>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-4">
                <div class="single_service text-center">
                    <div class="icon">
                        <img src="~/Content/img/svg_icon/1.svg" alt="">
                    </div>
                    <h3>
                        Frontend Development
                    </h3>
                    <p>HTML, CSS, Javascript, Bootstrap, React, Responsive/Moblie apps, ect..</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-4">
                <div class="single_service text-center">
                    <div class="icon">
                        <img src="~/Content/img/svg_icon/2.svg" alt="">
                    </div>
                    <h3>
                        Middle Tier
                    </h3>
                    <p>C#.Net, Java, ASP.NET, MVC, Visual Studio, ect..</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-4">
                <div class="single_service text-center">
                    <div class="icon">
                        <img src="~/Content/img/svg_icon/3.svg" alt="">
                    </div>
                    <h3>
                        Backend Development
                    </h3>
                    <p>ADO.NET, SQL, Microsoft SQL Server, ect..</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- service_area end  -->
