
@{
    ViewBag.Title = "Classmates Links";
}

<!-- bradcam_area  -->
<div class="bradcam_area bradcam_bg_1">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="bradcam_text text-center">
                    <h3>@ViewBag.Title</h3>
                </div>
            </div>
        </div>
    </div>
</div>
<!--/ bradcam_area  -->
<!-- classmates_area  -->
<div class="classmates_area">
    <div class="row">
        <div class="col-md-4 mb-20 text-center">
            <a href="http://www.don-richardson.com/" target="_blank">
                <img src="~/Content/img/links/DonRichardson.jpg" alt="">
                <h3>Don Richardson</h3>
            </a>
            <a href="http://www.don-richardson.com/" target="_blank">
                <i class="fa fa-link"></i>
            </a>
        </div>

        <div class="col-md-4 mb-20 text-center">
            <a href="http://www.abbey-outain.com/" target="_blank">
                <img src="~/Content/img/links/AbbeyOutain.jpg" alt="">
                <h3>Abbey Outain</h3>
            </a>
            <a href="http://www.abbey-outain.com/" target="_blank">
                <i class="fa fa-link"></i>
            </a>
        </div>

        <div class="col-md-4 mb-20 text-center">
            <a href="http://eric-faith.net/" target="_blank">
                <img src="~/Content/img/links/EricFaith.jpg" alt="">
                <h3>Eric Faith</h3>
            </a>
            <a href="http://eric-faith.net/" target="_blank">
                <i class="fa fa-link"></i>
            </a>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4 mb-20 text-center">
            <a href="http://patrick-stephen.com/" target="_blank">
                <img src="~/Content/img/links/PatrickStephen.jpg" alt="">
                <h3>Patrick Stephen</h3>
            </a>
            <a href="http://patrick-stephen.com/" target="_blank">
                <i class="fa fa-link"></i>
            </a>
        </div>

        <div class="col-md-4 mb-20 text-center">
            <a href="http://jlester-dev.net/" target="_blank">
                <img src="~/Content/img/links/JanetLester.jpg" alt="">
                <h3>Janet Lester</h3>
            </a>
            <a href="http://jlester-dev.net/" target="_blank">
                <i class="fa fa-link"></i>
            </a>
        </div>

        <div class="col-md-4 mb-20 text-center">
            <a href="http://developer.jason-colobong.com/" target="_blank">
                <img src="~/Content/img/links/JasonColobong.jpg" alt="">
                <h3>Jason Colobong</h3>
            </a>
            <a href="http://developer.jason-colobong.com/" target="_blank">
                <i class="fa fa-link"></i>
            </a>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4 mb-20 text-center">
            <a href="http://joshua-foley.com/" target="_blank">
                <img src="~/Content/img/links/JoshuaFoley.jpg" alt="">
                <h3>Joshua Foley</h3>
            </a>
            <a href="http://joshua-foley.com/" target="_blank">
                <i class="fa fa-link"></i>
            </a>
        </div>

        <div class="col-md-4 mb-20 text-center">
            <a href="http://double-a-dev.com/" target="_blank">
                <img src="~/Content/img/links/AndrewAllen.jpg" alt="">
                <h3>Andrew Allen</h3>
            </a>
            <a href="http://double-a-dev.com/" target="_blank">
                <i class="fa fa-link"></i>
            </a>
        </div>

        <div class="col-md-4 mb-20 text-center">
            <a href="http://joemcguire-design.com/" target="_blank">
                <img src="~/Content/img/links/JoeMcguire.jpg" alt="">
                <h3>Joe McGuire</h3>
            </a>
            <a href="http://joemcguire-design.com/" target="_blank">
                <i class="fa fa-link"></i>
            </a>
        </div>
    </div>

</div>
<!--/ classmates_area  -->
