
@{
    ViewBag.Title = "Portfolio";
}

<!-- slider_area_start -->
<div class="bradcam_area bradcam_bg_1">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="bradcam_text text-center">
                    <h3>@ViewBag.Title</h3>
                </div>
            </div>
        </div>
    </div>
</div>
<!--/ bradcam_area  -->
<!-- portfolio_area  -->
<section class="portfolio_area">
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6 mb-20 text-center">
            <a href="http://bethboergercsd1.com/" target="_blank">
                <img src="~/Content/img/portfolio/Capstone.jpg" alt="">
                <h3>Capstone Project</h3>
                <h4>Utilized pair programming groups to create a functional website for Beth Boerger for CSD1 school board. Implemented a Trello Board for task tracking; performed daily stand-ups to discuss progress and planning</h4>
            </a>
            <a href="http://bethboergercsd1.com/" target="_blank">
                <i class="fa fa-link"></i>
            </a>
        </div>

        <div class="col-lg-6 col-md-6 col-sm-6 mb-20 text-center">
            <a href="https://github.com/scash58/DungeonApplication" target="_blank">
                <img src="~/Content/img/portfolio/DungeonApp.jpg" alt="">
                <h3>Dungeon Application</h3>
                <h4>Created a dungeon application using C#. Create methods to house the functionality for battle sequence, menu of options to choose from, generates a new setting for the player. </h4>
            </a>
            <a href="https://github.com/scash58/DungeonApplication" target="_blank">
                <i class="fa fa-link"></i>
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6 mb-20 text-center">
            <a href="http://storefront.scott-cashion.com/" target="_blank">
                <img src="~/Content/img/portfolio/Storefront.jpg" alt="">
                <h3>Storefront Web Application</h3>
                <h4>The StoreFront Application is a fullstack web applications. Made to look like a mock e-commerce site. I designed the database for the application, and build all the functionality for a e-commerce site. </h4>
            </a>
            <a href="http://storefront.scott-cashion.com/" target="_blank">
                <i class="fa fa-link"></i>
            </a>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 mb-20 text-center">
            <a href="http://todoapi.scott-cashion.com/" target="_blank">
                <img src="~/Content/img/portfolio/TodoAPI.jpg" alt="">
                <h3>Todo API</h3>
                <h4>Created a RESTful API that can be consumed by another application. The topic of this API is to provide the backend for the React To Do application. Provides full CRUD functionality for the To Do items</h4>
            </a>
            <a href="http://todoapi.scott-cashion.com/" target="_blank">
                <i class="fa fa-link"></i>
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6 mb-20 text-center">
            <a href="http://todo.scott-cashion.com/" target="_blank">
                <img src="~/Content/img/portfolio/ReactTodo.jpg" alt="">
                <h3>React Todo</h3>
                <h4>The React To Do application is built using React JS. Allows user to add, edit, delete, or mark to do items as completed. Uses the .Net Web Api as the backend of the application.</h4>
            </a>
            <a href="http://todo.scott-cashion.com/" target="_blank">
                <i class="fa fa-link"></i>
            </a>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 mb-20 text-center">
            <a href="http://sat.scott-cashion.com/" target="_blank">
                <img src="~/Content/img/portfolio/SAT.jpg" alt="">
                <h3>SAT Scheduling Application</h3>
                <h4>Application is built to simulate an online class scheduling system.  Administrators will have the ability to manage students, courses, scheduled classes, and enrollments.</h4>
            </a>
            <a href="http://sat.scott-cashion.com/" target="_blank">
                <i class="fa fa-link"></i>
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3"></div>

        <div class="col-lg-6 col-md-6 col-sm-6 mb-20 text-center">
            <a href="http://f1sp.scott-cashion.com/" target="_blank">
                <img src="~/Content/img/portfolio/StaticSite.jpg" alt="">
                <h3>Static Web Site</h3>
                <h4>Everyone has to start somewhere. Created a website from scratch using only HTML and CSS. Website is built to for a small business that provides instructional courses.</h4>
            </a>
            <a href="http://f1sp.scott-cashion.com/" target="_blank">
                <i class="fa fa-link"></i>
            </a>
        </div>
    </div>
    <!--<div class="col-lg-4 col-md-4 col-sm-12 mb-20 text-center">
        <a href="http://ecom.scott-cashion.com/" target="_blank">
            <img src="~/Content/img/portfolio/DungeonApp.jpg" alt="">
            <h3>E-Commerce Website</h3>
        </a>
        <a href="http://ecom.scott-cashion.com/" target="_blank">
            <i class="fa fa-link"></i>
        </a>
    /div>-->


</section>
<!--/ portfolio_area  -->