
@{
    ViewBag.Title = "Portfolio";
}

<!-- slider_area_start -->
<div class="bradcam_area bradcam_bg_1">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="bradcam_text text-center">
                    <h3>@ViewBag.Title</h3>
                </div>
            </div>
        </div>
    </div>
</div>
<!--/ bradcam_area  -->
<!-- portfolio_area  -->
<section class="portfolio_area">
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6 mb-20 text-center">
            <a href="http://f1sp.scott-cashion.com/" target="_blank">
                <img src="~/Content/img/portfolio/StaticSite.jpg" alt="">
                <h3>Static Web Site</h3>
                <h4>Everyone has to start somewhere. Created a website from scratch using only HTML and CSS. Website is built to for a small business that provides instructional courses.</h4>
            </a>
            <a href="http://f1sp.scott-cashion.com/" target="_blank">
                <i class="fa fa-link"></i>
            </a>
        </div>

        <div class="col-lg-6 col-md-6 col-sm-6 mb-20 text-center">
            <a href="https://github.com/scash58/DungeonApplication" target="_blank">
                <img src="~/Content/img/portfolio/DungeonApp.jpg" alt="">
                <h3>Dungeon Application</h3>
                <h4>Created a dungeon application using C#. Create methods to house the functionality for battle sequence, menu of options to choose from, generates a new setting for the player. </h4>
            </a>
            <a href="https://github.com/scash58/DungeonApplication" target="_blank">
                <i class="fa fa-link"></i>
            </a>
        </div>

        <!--<div class="col-lg-4 col-md-4 col-sm-12 mb-20 text-center">
            <a href="http://ecom.scott-cashion.com/" target="_blank">
                <img src="~/Content/img/portfolio/DungeonApp.jpg" alt="">
                <h3>E-Commerce Website</h3>
            </a>
            <a href="http://ecom.scott-cashion.com/" target="_blank">
                <i class="fa fa-link"></i>
            </a>
        /div>-->
    </div>

</section>
<!--/ portfolio_area  -->