
@{
    ViewBag.Title = "Resume";
}

<!-- bradcam_area  -->
<section class="bradcam_area bradcam_bg_1">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="bradcam_text text-center">
                    <h3>@ViewBag.Title</h3>
                    <div class="row">
                        <div class="col-md-6 text-right mt-30">
                            <a href="~/Content/Scott-Cashion-Resume.pdf" download="ScottCashionResume" class="boxed-btn3-line">Download Resume</a>
                        </div>
                        <div class="col-md-6 text-left mt-30">
                            <a href="~/Content/Scott-Cashion-Resume.pdf" target="_blank" class="boxed-btn3-line"> View Resume </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--/ bradcam_area  -->
<!-- ======= Resume Section ======= -->
<section id="resume" class="resume_area">
    <div class="container">
        <h3 class="resume_area_title mb-50">Highlights</h3>
        <div class="row">
            <div class="col-lg-6" data-aos="fade-up">
                <h3 class="resume-title">Education</h3>
                <div class="resume-item">
                    <h4>Full Stack Web Developer Program</h4>
                    <h5>2022</h5>
                    <p><em>Centriq Training, St. Louis, MO</em></p>
                    <p>Training primarily on Microsoft's enterprise .NET C# (Visual Studio) development platform.</p>
                </div>
                <div class="resume-item">
                    <h4>Bachelor of Science in Software Engineering</h4>
                    <h5>2015</h5>
                    <p><em>Missouri Tech, St. Charles, MO</em></p>
                    <p>Meet all the need to graduate and maintain a 3.7 G.P.A.</p>
                </div>
            </div>
            <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
                <h3 class="resume-title">Professional Experience</h3>
                <div class="resume-item mb-20">
                    <h4>Assistant Superintendent/Mechanic</h4>
                    <h5>2016-Present</h5>
                    <p><em>Tapawingo National Golf Course, St. Louis, MO</em></p>
                    <ul>
                        <li class="fa fa-asterisk"> Maintenace of golf course and club grounds.</li>
                        <li class="fa fa-asterisk"> Repaired and upgraded irrigation systems.</li>
                        <li class="fa fa-asterisk"> Maintain all equipment and buildings</li>
                    </ul>
                </div>
                <div class="resume-item">
                    <h4>Assistant Superintendent/Mechanic-</h4>
                    <h5>2006 - 2016</h5>
                    <p><em>Pevely Farms Golf Course, Eureka, MO</em></p>
                    <ul>
                        <li class="fa fa-asterisk"> Maintenace of golf course and club grounds.</li>
                        <li class="fa fa-asterisk"> Repaired and upgraded irrigation systems</li>
                        <li class="fa fa-asterisk"> Maintain all equipment and buildings</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<!--/ resume_area  -->
